<template name="header">
    <header class="navbar">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{pathFor 'mainList'}}">dev2014 - socially compiled development learning resources for 2014</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{#if currentUser}}
                    <li>
                        <a href="{{pathFor 'resourceSubmit'}}">Submit Resource</a>
                    </li>
                    <li class="dropdown">
                        {{> notifications}}
                    </li>
                    {{/if}}
                </ul>
                <ul class="nav pull-right">
                    <li>{{loginButtons}}</li>
                </ul>
            </div>
        </div>
    </header>
</template>